{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Add Transaction</h1>
<div>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset.forms %}
        <table>
            {{ form.as_table }}
        </table>
        {% endfor %}
        <input type="submit" value="Save">
    </form>

    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Error!</strong>
        {% for field, errors in form.errors.items %}
        <p>{{ field }}: {{ errors|join:", " }}</p>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}

{% block extra_js %}
<script>
  $(function() {
    $('#id_trans_date').datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });

</script>
{% endblock %}
