{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Add Transaction</h1>
<div>
  <form method="post">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Mode</th>
                <th>Main Category</th>
                <th>Sub Category</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ form.trans_date }}</td>
                <td>
                  <label for="{{ form.trans_type.id_for_label }}"></label>
                  <select name="{{ form.trans_type.name }}" id="{{ form.trans_type.id_for_label }}">
                      {% for value, label in form.trans_type.field.choices %}
                          <option value="{{ value }}" {% if value == form.trans_type.value %}selected{% endif %}>{{ label }}</option>
                      {% endfor %}
                  </select>
                </td>
                <td>{{ form.trans_mode }}</td>
                <td>{{ form.trans_main_category }}</td>
                <td>{{ form.trans_sub_category }}</td>
                <td>{{ form.trans_amount }}</td>
            </tr>
        </tbody>
    </table>

    <input type="submit" class="btn btn-primary" value="Save">
  </form>
  {% if form.errors %}
    <div class="alert alert-danger">
    <strong>Error!</strong>
    {% for field, errors in form.errors.items %}
    <p>{{ field }}: {{ errors|join:", " }}</p>
    {% endfor %}
    </div>
  {% endif %}

</div>

{% endblock %}
{% block extra_js %}
  <script>
    $(function() {
      $('#id_trans_date').datepicker({
        dateFormat: 'yy-mm-dd'
      });
    });
  </script>
{% endblock %}
