{% extends 'base.html' %}
{% load utils %}
{% block content %}
<body>
  {% for key, value in data.items %}
    {% if not forloop.first %}<div class="page-break"></div>{% endif %}
    <h1>Monthly Report - {{ value.month }}</h1>
    <h3>Total: <a>{{ value.total | cf | safe }}</a>
    <a style="float:right"> Balance:  {{ value.monthly_balance | cf | safe }}</a></h3>
    <table border="2" style="width: 100%; border-collapse: collapse;">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Pay Mode</th>
          <th>Category</th>
          <th>Sub Category</th>
          <th>Amount</th>
          <th>Mode Wise</th>
          <th>Running Total</th>
        </tr>
      </thead>
      <tbody>
        {% for trans in value.qs %}
          <tr>
            <td>{{ trans.trans_id }} </td>
            <td>{{ trans.trans_date }}</td>
            <td>{{ trans.trans_mode }}</td>
            <td>{{ trans.trans_main_category }}</td>
            <td>{{ trans.trans_sub_category }}</td>
            <td>{{ trans.trans_amount | cf | safe }}</td>
            <td>{{ trans.running_total_modes | cf_mode | safe }}</td>
            <td>{{ trans.running_total | cf | safe }}</td>
          </tr>
          {% if forloop.last %}
          <table border="2">
              <tr>
                <td>Cash</td>
                <td>Enbd</td>
                <td>NoL</td>
                <td>Pay IT</td>
                <td>SIB</td>
                <td>Total</td>
              </tr>
              <tr>
                <td><b>{{ value.running_total_modes.Cash | cf | safe }}</b></td>
                <td><b>{{ value.running_total_modes.ENBD | cf | safe }}</b></td>
                <td><b>{{ value.running_total_modes.NoL | cf | safe }}</b></td>
                <td><b>{{ value.running_total_modes.PayIT | cf | safe  }}</b></td>
                <td><b>{{ value.running_total_modes.SIB | cf | safe  }}</b></td>
                <td><b>{{ value.running_total | cf | safe  }}</b></td>
              </tr>
            </table>
          {% endif %}
        {% endfor %}
      </tbody>
      </table>
  <hr style="border: 2px solid black; display: block;"> <!-- Add a horizontal line here -->
  {% endfor %}
</body>
{% endblock %}