{% extends 'base.html' %}
{% load utils %}
{% block content %}
  <table border="2">
    <tr>
      <td></td>
      {% for month_data in data.values %}
        <td colspan="3"><b>{{ month_data.month }}</b></td>
      {% endfor %}
    </tr>
    <tr>
      <td></td>
      {% for month_data in data.values %}
        <td><b>Income</b></td>
        <td><b>Expense</b></td>
        <td><b>Balance</b></td>
      {% endfor %}
    </tr>
    {% for mode in modes %}
      <tr>
        <td>{{ mode }}</td>
        {% for month_data in data.values %}
          <td>
            {% if mode in month_data.total_modes %}
              {{ month_data.total_modes|get_item:mode|floatformat:"2g" }}
            {% else %}
              0.00
            {% endif %}
          </td>
          <td>
            {% if mode in month_data.total_expense_modes %}
              {{ month_data.total_expense_modes|get_item:mode|floatformat:"2g" }}
            {% else %}
              0.00
            {% endif %}
          </td>
          <td>
            {% if mode in month_data.total_modes and mode in month_data.total_expense_modes %}
              {{ month_data.total_modes|get_item:mode|default:"0" |floatformat:"2g" }} - {{ month_data.total_expense_modes|get_item:mode|default:"0" | floatformat:"2g" }}
            {% elif mode in month_data.total_modes %}
              {{ month_data.total_modes|get_item:mode|floatformat:"2g" }}
            {% elif mode in month_data.total_expense_modes %}
              -{{ month_data.total_expense_modes|get_item:mode|floatformat:"2g" }}
            {% else %}
              0.00
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}
