{% extends 'base.html' %}
{% load utils %}
{% block content %}
<body>

{% for month, accounts in data.items %}
    <div class="month-table">
        <div class="month-title">Transaction summary for {{ month }}:</div>
        <table>
            <tr>
                <th>Account</th>
                <th>Income</th>
                <th>Expense</th>
                <th>Balance</th>
            </tr>
            {% for account, values in accounts.items %}
                <tr>
                    <td class="account-name">{{ account }}</td>
                    <td>{{ values.trans_income | cf | safe}}</td>
                    <td>{{ values.trans_expense | cf | safe }}</td>
                    <td>{{ values.balance | cf | safe }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endfor %}
{% endblock %}